@mixin debug($color) {
  border: 1px solid $color;
}

$almostWhite: #fefefe;
$lighterGray: #eeeeee;
$lightGray: #e6e6e6;
$grayish: #cccccc;
$mediumGray: #858585;
$darkGray: #686868;
$darkBlue: #1a3a48;
$coralRed: #ee5356;
$opaqueOrange: #ee8d39;

.App {
  padding: 12px 17px;
  background-color: $lighterGray;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.App__container {
  display: flex;
  background-color: $lightGray;
  width: 100%;
}

@import './components/general/SearchInput/styles';
@import './components/Sidebar/styles';
@import './components/Content/styles';